[submodule "utils/ALttPDoorRandomizer"]
	path = utils/ALttPDoorRandomizer
	url = https://github.com/tcprescott/ALttPDoorRandomizer
[submodule "utils/ALttPDoorRandomizerUnstable"]
	path = utils/ALttPDoorRandomizerUnstable
	url = https://github.com/aerinon/ALttPDoorRandomizer
