[submodule "utils/ALttPDoorRandomizer"]
	path = utils/ALttPDoorRandomizer
	url = https://github.com/tcprescott/ALttPDoorRandomizer
[submodule "ALttPDoorRandomizerUnstable"]
	path = ALttPDoorRandomizerUnstable
	url = https://github.com/aerinon/ALttPDoorRandomizer
