class Config:
    DEBUG = False
    DB_HOST = '127.0.0.1'
    DB_PORT = 3306
    DB_NAME = 'alttprbot'
    DB_USER = 'username'
    DB_PASS = 'password'

    DISCORD_TOKEN = 'discord_bot_token_here'

    SRL_NICK = 'SahasrahTest'
    SRL_PASSWORD = 'password'

    baseurl='https://alttpr.com'
    seed_baseurl='https://s3.us-east-2.amazonaws.com/alttpr-patches'
    username=None
    password=None