[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
quart = "*"
Quart-Discord = ">=2.1.4"
aerich = ">=0.5.5"
aioboto3 = ">=8.0.5"
aiocache = ">=0.11.1"
aiofiles = ">=0.4.0"
aiohttp = "*"
aiomysql = ">=0.0.20"
discord-sentry-reporting = "*"
emoji = "*"
dataclasses-json = "*"
gspread-asyncio = "*"
PyYAML = "*"
python-dotenv = "*"
html2markdown = "*"
z3r-sramr-py = "*"
urlextract = "*"
oauth2client = "*"
google-api-python-client = "*"
html5lib = "*"
shortuuid = "*"
PyGithub = "*"
PySide2 = "==5.15.2"
python-slugify = "*"
pyz3r = "*"
py-cord = "*"
isodate = "*"

[dev-packages]
pycodestyle = "*"
pylint = "*"

[requires]
python_version = "3.8"

[packages.1e6d33a]
file = "https://github.com/tcprescott/racetime-bot/archive/6c9b41087196541a9794f3cf6f6afe4648bb5644.zip"
