[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Quart = "*"
Quart-Discord = ">=2.1.4"
twitchio = "*"
aerich = ">=0.5.5"
aioboto3 = ">=8.0.5"
aiocache = ">=0.11.1"
aiofiles = ">=0.4.0"
aiohttp = "*"
aiomysql = ">=0.0.20"
discord-sentry-reporting = "*"
"discord.py" = ">=1.7.3"
emoji = ">=0.5.3"
dataclasses-json = "*"
gspread-asyncio = "*"
PyYAML = "*"
python-dotenv = "*"
html2markdown = "*"
z3r-sramr-py = "*"
urlextract = "*"
slugify = "*"
oauth2client = "*"
google-api-python-client = "*"
jishaku = "*"
html5lib = "*"
shortuuid = "*"
pygithub = "*"
pyside2 = "==5.15.2"
pillow = "==8.0.1"
nlzss11 = "==1.1"

[dev-packages]
pycodestyle = "*"
pylint = "*"
ipython = "*"
requests = "*"

[requires]
python_version = "3.8"

[packages.pyz3r]
git = "https://github.com/tcprescott/pyz3r.git"
ref = "6.0.0-dev"

[packages.racetime-bot]
git = "https://github.com/tcprescott/racetime-bot.git"
ref = "aiohttp_update"
