{% extends "base.html" -%}

{% block head -%}
<title>Tournament Leaderboard - {{ tournament.name }} ({{ tournament.id }})</title>
{%- endblock head %}

{% block content -%}
<h1>Tournament Leaderboard - {{ tournament.name }} ({{ tournament.id }})</h1>

<table border="1">
    <tr>
        <th>Rank</th>
        <th>Player Name</th>
        <th>Score</th>
        {% if estimate %}<th>Estimate</th>{% endif %}
        {% for pool in tournament.permalink_pools %}
        <th>{{ pool.name }}</th>
        {% endfor %}
        <!-- <th>Finished</th>
        <th>Forfeited</th>
        <th>Unplayed</th> -->
    </tr>
    {% for entry in leaderboard|sort(attribute=sort_key, reverse=True) %}
    <tr>
        <td>{{ loop.index }}</td>
        <td><a href="{{ url_for('async.async_tournament_player', tournament_id=tournament.id, user_id=entry.player.id) }}" target="_blank">{{ entry.player.display_name }}</a></td>
        <td>{{ entry.score_formatted }}</td>
        {% if estimate %}<td>{{ entry.estimate_formatted }}</td>{% endif %}
        {% for race in entry.races %}
        <td>{{ race.score_formatted }}</td>
        {% endfor %}
        <!-- <td>{{ entry.finished_race_count }}</td>
        <td>{{ entry.forfeited_race_count }}</td>
        <td>{{ entry.unattempted_race_count }}</td> -->
    </tr>
    {% endfor %}
</table>

{%- endblock content %}