{% extends "base/base.html" -%}

{% block head -%}
<title>{{ permalink.pool.name }} - {{ permalink.url }} - {{ tournament.name }} ({{ tournament.id }})</title>
{%- endblock head %}

{% block content -%}

<section id="wrapper">
    <div class="wrapper">
        <div class="inner">
<h1>{{ permalink.pool.name }} - <a href="{{ permalink.url }}">{{ permalink.url }}</a> - {{ tournament.name }} ({{ tournament.id }})</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Player Name</th>
        <th>VoD</th>
        <th>Thread</th>
        <th>Finish Time</th>
        <th>Score</th>
        <th>Run Status</th>
        <th>Review Status</th>
    </tr>
    {% for race in races %}
    <tr>
        <td><a href="{{ url_for('async.async_tournament_review', tournament_id=tournament.id, race_id=race.id) }}" target="_blank">{{ race.id }}</a></td>
        <td><a href="{{ url_for('async.async_tournament_player', tournament_id=tournament.id, user_id=race.user.id) }}" target="_blank">{{ race.user.display_name }}</a></td>
        <td>{% if race.runner_vod_url %}<a href="{{ race.runner_vod_url|e }}" target="_blank">{{ race.runner_vod_url|e }}</a>{% endif %}</td>
        <td>{% if race.live_race %}
            <a href="{{ race.live_race.racetime_url }}" target="_blank">racetime</a>
            {% else %}
            <a href="{{ race.thread_url }}" target="_blank">thread</a>
            {% endif %}
        </td>
        <td>{{ race.elapsed_time_formatted }}</td>
        <td>{{ race.score_formatted }}</td>
        <td>{{ race.status_formatted }}</td>
        <td>{{ race.review_status_formatted }}</td>
    </tr>
    {% endfor %}
</table>
</div>
</div>
</section>
{%- endblock content %}