{% extends "base/base.html" -%}
{% set page_title = "Pools for " ~ tournament.name ~ " (" ~ tournament.id ~ ")" -%}

{% block content -%}

<section id="main" class="card">
    <div class="card-header">
        <h4>{{ page_title }}</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
<h1>Pools for {{ tournament.name }} ({{ tournament.id }})</h1>

{% for pool in tournament.permalink_pools %}
<h2>{{ pool.name }}</h2>
<ul>
    {% for permalink in pool.permalinks %}
    <li><a href="{{ url_for('async.async_tournament_permalink', tournament_id=tournament.id, permalink_id=permalink.id) }}">{{ permalink.url }}</a></li>
    {% endfor %}
</ul>
{% endfor %}
</div>
</div>
</section>
{%- endblock content %}