{% extends "base.html" -%}

{% block head -%}
<title>Moderation Queue - {{ tournament.name }} ({{ tournament.id }})</title>
{%- endblock head %}

{% block content -%}
<h1>Moderation Queue - {{ tournament.name }} ({{ tournament.id }})</h1>
<p><a
        href="{{ url_for('async.async_tournament_queue', tournament_id=tournament.id, live='all', reviewer='all', status='in_progress', review_status='all', page=page) }}">
        View all in progress</a></p>
<p><a
        href="{{ url_for('async.async_tournament_queue', tournament_id=tournament.id, live='false', reviewer='all', status='finished', review_status='pending', page=page) }}">
        View runs awaiting verification</a></p>
<p><a
        href="{{ url_for('async.async_tournament_queue', tournament_id=tournament.id, live='all', reviewer='all', status='all', review_status='all', page=page) }}">
        View all runs</a></p>
<p><a
        href="{{ url_for('async.async_tournament_queue', tournament_id=tournament.id, live='all', reviewer='all', status='all', review_status='rejected', page=page) }}">
        View all rejected runs</a></p>
<p>Page {{ page }}</p>
<p>
    {% if page>1 %}<a
        href="{{ url_for('async.async_tournament_queue', tournament_id=tournament.id, live=live, reviewer=reviewer, status=status, review_status=review_status, page=page-1) }}">
        Previous page</a>{% endif %}
    <a
        href="{{ url_for('async.async_tournament_queue', tournament_id=tournament.id, live=live, reviewer=reviewer, status=status, review_status=review_status, page=page+1) }}">
        Next page</a>
</p>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Player Name</th>
        <th>Pool</th>
        <th>VoD</th>
        <th>Thread</th>
        <th>Finish Time</th>
        <th>Score</th>
        <th>Run Status</th>
        <th>Reviewed By</th>
        <th>Reviewed At</th>
        <th>Review Status</th>
        <th>Actions</th>
    </tr>
    {% for race in races %}
    <tr>
        <td>{{ race.id }}</td>
        <td><a href="{{ url_for('async.async_tournament_player', tournament_id=tournament.id, user_id=race.user.id) }}" target="_blank">{{ race.user.display_name }}</a></td>
        <td>{{ race.permalink.pool.name }}</td>
        <td>{% if race.runner_vod_url %}<a href="{{ race.runner_vod_url|e }}">{{ race.runner_vod_url|e }}</a>{% endif %}
        </td>
        <td>{% if race.live_race %}
            <a href="{{ race.live_race.racetime_url }}" target="_blank">racetime</a>
            {% else %}
            <a href="{{ race.thread_url }}" target="_blank">thread</a>
            {% endif %}
        </td>
        <td>{{ race.elapsed_time_formatted }}</td>
        <td>{{ race.score_formatted }}</td>
        <td>{{ race.status }}</td>
        <td>{{ race.reviewed_by.display_name }}</td>
        <td>{{ race.reviewed_at if race.reviewed_at else "" }}</td>
        <td>{{ race.review_status }}</td>
        <td>
            <p><a href="{{ url_for('async.async_tournament_review', tournament_id=tournament.id, race_id=race.id) }}">review</a>
            </p>
        </td>
    </tr>
    {% endfor %}
</table>
{%- endblock content %}