<!DOCTYPE html>
<html>
	<head>
        {% block head %}
        {% endblock head %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
    <body class="is-preload">
        <div id="page-wrapper">
            <!-- Header -->
            <header id="header" class="alt">
                <h1><a href="/">Sahasrahbot</a></h1>
                <nav>
                    {% if logged_in == True %}<a href="/me">{{ user.name }}</a>{% else %}<a href="/login/">Login</a>{% endif %}
                    <a href="#menu">Menu</a>
                </nav>
            </header>

            <!-- Menu -->
            <nav id="menu">
                <div class="inner">
                    <h2>Menu</h2>
                    <ul class="links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/presets">Presets</a></li>
                        <!-- <li><a href="elements.html">Elements</a></li> -->
                        {% if logged_in == True %}<li><a href="/logout/">Logout</a></li>{% else %}<li><a href="/login/">Log In</a></li>{% endif %}
                    </ul>
                    <a href="#" class="close">Close</a>
                </div>
            </nav>

            {% block content %}{% endblock content %}

            </section>
            <section id="footer">
                <div class="inner">
                    <ul class="copyright">
                        <li>&copy; 2019-2024 Thomas Prescott</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>
            </section>

        </div>
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery.scrollex.min.js"></script>
        <script src="/assets/js/browser.min.js"></script>
        <script src="/assets/js/breakpoints.min.js"></script>
        <script src="/assets/js/util.js"></script>
        <script src="/assets/js/main.js"></script>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    </body>
</html>