{% extends "base/base.html" -%}
{% set page_title = "My Profile" -%}

{% block content -%}
<section id="me" class="card">
    <div class="card-header">
        <h4>About {{ user.name }}</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <p>
                In the future, this will have more information we have about you, such as your racetime information.  You can also update your information here in the future.
            </p>
        </div>
    </div>
</section>
{%- endblock content %}