{% extends "base.html" -%}

{% block head -%}
<title>Presets for {{ ns_data.name }}</title>
{%- endblock head %}

{% block content -%}
<section id="wrapper">
    <div class="wrapper">
        <div class="inner">
<h2>{{ ns_data.name }}</h2>
<a href="{{ url_for('presets.new_preset_submit', namespace=ns_data.name)}}">Create a new preset</a>
<hr />
<table border="1">
    <tr>
        <th>Name</th>
        <th>Randomizer</th>
        <th>Action</th>
    </tr>
    {% for preset in presets %}
    <tr>
        <td>{{ ns_data.name }}/{{preset.preset_name}}</td>
        <td><a
                href="{{ url_for('presets.presets_for_namespace_randomizer', namespace=ns_data.name, randomizer=preset.randomizer)}}">{{preset.randomizer}}</a>
        </td>
        <td><a
                href="{{ url_for('presets.get_preset', namespace=ns_data.name, randomizer=preset.randomizer, preset=preset.preset_name)}}">{%
                if is_owner
                ==
                True %}edit{% else %}view{% endif %}</a></td>
    </tr>
    {% endfor %}
</table>
</div>
</div>
</section>
{%- endblock content %}