{% extends "base.html" -%}

{% block head -%}
<title>Preset {{ ns_data.name }}/{{ preset_data.preset_name }} - {{ preset_data.randomizer }} </title>
{%- endblock head %}

{% block content -%}
<section id="wrapper">
        <div class="wrapper">
            <div class="inner">
                <section>
<h2>Preset &quot;{{ ns_data.name }}/{{ preset_data.preset_name }}&quot; for {{ preset_data.randomizer}}</h2>
<p><a href="{{ url_for('presets.presets_for_namespace', namespace=ns_data.name) }}">View presets from {{ ns_data.name
        }}</a></p>
<hr />
{% if is_owner == True %}
<form enctype=multipart/form-data
    action="{{ url_for('presets.get_preset', namespace=ns_data.name, randomizer=preset_data.randomizer, preset=preset_data.preset_name) }}"
    method="post">
    <p>Upload a new YAML file to replace this preset.</p>
    <p><input type="file" id="presetfile" name="presetfile" accept=".yaml" /></p>
    <p><input id="save" name="save" type="submit" value="Save" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="delete" name="delete" type="submit" value="Delete (cannot be undone)"/></p>
</form>
<hr />
{% endif %}
<p><a
        href="{{ url_for('presets.download_preset', namespace=ns_data.name, randomizer=preset_data.randomizer, preset=preset_data.preset_name) }}">download</a>
</p>
</section>
<section><pre><code>{{ preset_data.content|e }}</code></pre></section>

</div>
</div>
</section>
{%- endblock content %}