{% extends "base/base.html" -%}
{% set page_title = "Purge my info!" -%}

{% block content -%}
<section id="main" class="card">
    <div class="card-header">
        <h4>{{ page_title }}</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
<form action="/purgeme" method="post">
    <p>Purge all of your info from SahasrahBot. This cannot be undone.</p>
    <p>This will delete any data collected by the bot, any presets you have, your namespace, etc.</p>
    <p><input type="checkbox" value="yes" id="confirmpurge" name="confirmpurge">Confirm, delete all bot data on
        me</input></p>
    <p><input id="save" name="save" type="submit" value="Purge my info" /></p>
</form>
</div>
</div>
</section>
{%- endblock content %}