{% extends "base/base.html" -%}
{% set page_title = "Ranked Choice Ballot" -%}
{% set nav_item = 'elections' -%}

{% block content -%}
<section id="election" class="card">
    <div class="card-header">
        <h4>{{ election.title }}</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            {% if election.description %}
            <p>{{ election.description }}</p>
            {% endif %}
            <p>Below is your votes.  If this is not correct, please contact Synack ASAP to have your ballot cleared so you may vote again.</p>
            <p>Your vote is confidential.</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Candidate</th>
                        <th>Rank</th>
                    </tr>
                </thead>
                <div class="option">
                    <tbody>
                        {% for vote in votes %}
                        <tr>
                            <td>{{ vote.candidate.name }}</td>
                            <td>{{ vote.rank }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </div>
            </table>
        </div>
    </div>
</section>
{%- endblock content %}