{% extends "base.html" -%}

{% block head -%}
<title>SGL22 Admin "Dashboard"</title>
{%- endblock head %}

{% block content -%}

<!-- <h2>Important Links</h2> -->
<h2>Seed Generation</h2>
<p><b>ONLY AN ADMIN</b> or an assistant of an admin should use these to generate games.</p>
<h3>ALTTPR</h3>
<a href="/sgl22/generate/alttpr" target="_blank">Generate a ALTTPR Seed (opens new tab)</a>
<h3>SMR</h3>
<p>Generate a <a href="/sgl22/generate/smr/1" target="_blank">game 1</a>, <a href="/sgl22/generate/smr/2" target="_blank">game 2</a>, or <a href="/sgl22/generate/smr/3" target="_blank">game 3</a> seed (opens a new tab)</p>
<h3>OOTR</h3>
<a href="/sgl22/generate/ootr" target="_blank">Generate a OOTR Seed (opens new tab)</a>
<h3>SMZ3</h3>
<a href="/sgl22/generate/smz3" target="_blank">Generate a SMZ3 Seed (opens new tab)</a>
<h3>FFR</h3>
<a href="/sgl22/generate/ffr" target="_blank">Generate a FFR Seed (opens new tab)</a>
<h3>WWR</h3>
<p>put seed gen instructions here</p>
<h3>Z1R</h3>
<p>put seed gen instructions here</p>
<h3>SMB3R</h3>
<p>put seed gen instructions here</p>
<h3></h3>
{%- endblock content %}