{% extends "base.html" -%}

{% block head -%}
<title>SGL23 Tournament Room Capacity</title>
{%- endblock head %}

{% block content -%}

<style>
    small {
        font-size: 12px;
    }
    table {
        border-collapse: collapse;
        width: 800px;
    }

    th, td {
        text-align: left;
        /* padding: 8px; */
    }

    tr:nth-child(even) {
        background-color: Lightgreen;
    }

    tr.alert {
        background-color: yellow;
    }

    tr:hover {
        background-color: lightblue;
    }
</style>

<h1>SpeedGaming Live 2023 Tournament Room Capacity Report</h1>
<p>Note: This data is cached and refreshes every minute.</p>
<table border="1">
    <tr>
        <th>Time</th>
        <th>Total</th>
        <th>Starting this 15m</th>
        <th bgcolor="black">&nbsp;</th>
        <th>ALTTPR</th>
        <th>OOTR</th>
        <th>SMR</th>
        <th>SMZ3</th>
        <th>FFR</th>
        <th>TWWR</th>
        <th>Z1R</th>
        <th>SMB3R</th>
    </tr>
    {% for interval, data in report.items() %}
    <tr {% if data['runtime_total'] > alert_threshold %}class="alert"{% endif %}</tr>
        <td>{{ interval }}</td>
        <td>{{ data['runtime_total'] }}</td>
        <td>{{ data['starting_total'] }}</td>
        <td bgcolor="black">&nbsp;</td>
        <td>{{ data['runtime']['sgl23alttpr'] }}</td>
        <td>{{ data['runtime']['sgl23ootr'] }}</td>
        <td>{{ data['runtime']['sgl23smr'] }}</td>
        <td>{{ data['runtime']['sgl23smz3'] }}</td>
        <td>{{ data['runtime']['sgl23ffr'] }}</td>
        <td>{{ data['runtime']['sgl23twwr'] }}</td>
        <td>{{ data['runtime']['sgl23z1r'] }}</td>
        <td>{{ data['runtime']['sgl23smb3r'] }}</td>
    </tr>
    {% endfor %}
</table>

{%- endblock content %}