{% extends "base.html" -%}

{% block head -%}
<title>SGL22 Admin "Dashboard"</title>
{%- endblock head %}

{% block content -%}

<style>
    small {
        font-size: 12px;
    }
</style>

<!-- <h2>Important Links</h2> -->
<h1>SpeedGaming Live 2022 Dashboard</h2>
<p><b>ONLY AN ADMIN</b> or an assistant of an admin should use these to generate games.</p>

<h2>ALTTPR <small><a href="https://schedule.speedgaming.org/sgl22alttpr" target="_blank">schedule</a> - <a href="https://speedgaming.challonge.com/sgl22alttprx" target="_blank">challonge</a></small></h2>
<a href="/sgl22/generate/alttpr" target="_blank">Generate a ALTTPR Seed (opens new tab)</a>

<h2>SMR <small><a href="https://schedule.speedgaming.org/sgl22smr" target="_blank">schedule</a> - <a href="https://speedgaming.challonge.com/sgl22smrx" target="_blank">challonge</a></small></h2>
<p>Generate a <a href="/sgl22/generate/smr/1" target="_blank">game 1</a>, <a href="/sgl22/generate/smr/2" target="_blank">game 2</a>, or <a href="/sgl22/generate/smr/3" target="_blank">game 3</a> seed (opens a new tab)</p>

<h2>OOTR <small><a href="https://schedule.speedgaming.org/sgl22ootr" target="_blank">schedule</a> - <a href="https://speedgaming.challonge.com/sgl22zootrx" target="_blank">challonge</a></small></h2>
<a href="/sgl22/generate/ootr" target="_blank">Generate a OOTR Seed (opens new tab)</a>

<h2>SMZ3 <small><a href="https://schedule.speedgaming.org/sgl22smz3" target="_blank">schedule</a> - <a href="https://speedgaming.challonge.com/sgl22smz3x" target="_blank">challonge</a></small></h2>
<a href="/sgl22/generate/smz3" target="_blank">Generate a SMZ3 Seed (opens new tab)</a>

<h2>FFR <small><a href="https://schedule.speedgaming.org/sgl22ffr" target="_blank">schedule</a> - <a href="https://speedgaming.challonge.com/sgl22ffrx" target="_blank">challonge</a></small></h2>
<a href="/sgl22/generate/ffr" target="_blank">Generate a FFR Seed (opens new tab)</a>

<h2>TWWR <small><a href="https://schedule.speedgaming.org/sgl22twwr" target="_blank">schedule</a> - <a href="https://speedgaming.challonge.com/sgl22twwrx" target="_blank">challonge</a></small></h2>
<p>Flags: UzUuMABTNQAVAyIAJ3l8gAEWAIx7AIE+AAAA</p>
<p><a href="https://github.com/wooferzfg/wwrando/releases/tag/s5.0" target="_blank">Download randomizer</a></p>

<h2>Z1R <small><a href="https://schedule.speedgaming.org/sgl22z1r" target="_blank">schedule</a> - <a href="https://speedgaming.challonge.com/sgl22z1r" target="_blank">challonge</a></small></h2>
<p>Flags: PAwB3o93ZSDkcZquT6IUPq7fnLbfF6q</p>
<p><a href="https://tprescott-public-data.s3.amazonaws.com/sgl22/ZeldaRandomizer35.exe">Download randomizer</a></p>

<h2>SMB3R <small><a href="https://schedule.speedgaming.org/sgl22smb3r target="_blank"">schedule</a> - <a href="https://speedgaming.challonge.com/sgl22smb3rx" target="_blank">challonge</a></small></h2>
<p>Flags: 17BCWYIUA4</p>
<p><a href="https://tprescott-public-data.s3.amazonaws.com/sgl22/smb3RandomizerSetup.exe">Download randomizer</a></p>

<h2>Mega Man X <small><a href="https://schedule.speedgaming.org/sgl22mmx target="_blank"">schedule</a> - <a href="https://speedgaming.challonge.com/sgl22mmxx" target="_blank">challonge</a></small></h2>
<p>No seed generation required.</p>

{%- endblock content %}
