{% extends "base.html" -%}

{% block head -%}
<title>SGL23 Admin "Dashboard"</title>
{%- endblock head %}

{% block content -%}

<style>
    small {
        font-size: 12px;
    }
</style>

<!-- <h2>Important Links</h2> -->
<h1>SpeedGaming Live 2023 Dashboard</h1>
<p><b>ONLY AN ADMIN</b> or an assistant of an admin should use these to generate games.</p>

<h2>Reports</h2>
<p><a href="/sgl23/reports/capacity" target="_blank">View the capacity report (opens new tab)</a></p>

<h2>ALTTPR <small><a href="https://schedule.speedgaming.org/sgl23alttpr" target="_blank">schedule</a> - <a href="https://speedgaming.challonge.com/sgl23alttpr" target="_blank">challonge</a></small></h2>
<a href="/sgl23/generate/alttpr" target="_blank">Generate a ALTTPR Seed (opens new tab)</a>

<h2>SMR <small><a href="https://schedule.speedgaming.org/sgl23smr" target="_blank">schedule</a> - <a href="https://speedgaming.challonge.com/sgl23smdash" target="_blank">challonge</a></small></h2>
<a href="/sgl23/generate/smr" target="_blank">Generate a SM DASH Randomizer Seed (opens new tab)</a>

<h2>OOTR <small><a href="https://schedule.speedgaming.org/sgl23ootr" target="_blank">schedule</a> - <a href="https://challonge.com/sgl23ootr2" target="_blank">challonge</a></small></h2>
<a href="/sgl23/generate/ootr" target="_blank">Generate a OOTR Seed (opens new tab)</a>

<h2>SMZ3 <small><a href="https://schedule.speedgaming.org/sgl23smz3" target="_blank">schedule</a> - <a href="https://speedgaming.challonge.com/eutm30al" target="_blank">challonge</a></small></h2>
<p>Generate a <a href="/sgl23/generate/smz3/main" target="_blank">hardfast SMZ3 Seed for main bracket</a> or a <a href="/sgl23/generate/smz3/alt" target="_blank">normal SMZ3 Seed for alt bracket</a> (opens new tab)</a></p>

<h2>FFR <small><a href="https://schedule.speedgaming.org/sgl23ffr" target="_blank">schedule</a> <!--- <a href="https://speedgaming.challonge.com/" target="_blank">challonge</a></small></h2>
<a href="/sgl23/generate/ffr" target="_blank">Generate a FFR Seed (opens new tab)</a> -->

<h2>TWWR <small><a href="https://schedule.speedgaming.org/sgl23twwr" target="_blank">schedule</a> - <a href="https://speedgaming.challonge.com/sgl23twwr" target="_blank">challonge</a></small></h2>
<p>Flags: MS4xMC4wAEEAFwMiAHPowgMMsACCcQ8AAMkHAAAA</p>
<p><a href="https://github.com/LagoLunatic/wwrando/releases/tag/1.10.0" target="_blank">Download randomizer</a></p>
<p><a href="https://github.com/Sage-of-Mirrors/Custom-Wind-Waker-Player-Models/archive/master.zip" target="_blank">Official Model Pack</a></p>

<h2>Z1R <small><a href="https://schedule.speedgaming.org/sgl23z1r" target="_blank">schedule</a> - <a href="https://speedgaming.challonge.com/sgl23z1r" target="_blank">challonge</a></small></h2>
<p>Flags: See Z1R admin</p>
<p><a href="https://tprescott-public-data.s3.amazonaws.com/sgl22/ZeldaRandomizer35.exe">Download randomizer</a></p>

<h2>SMB3R <small><a href="https://schedule.speedgaming.org/sgl23smb3r" target="_blank"">schedule</a> - <a href="https://speedgaming.challonge.com/sgl23smb3r" target="_blank">challonge</a></small></h2>
<p>Flags: 949SL2L0UA4</p>
<p><a href="https://tprescott-public-data.s3.amazonaws.com/sgl22/smb3RandomizerSetup.exe">Download randomizer</a></p>

{%- endblock content %}
