{% extends "base/base.html" -%}
{% set page_title = "SGL23 Tournament Room Capacity" -%}

{% block content -%}

<style>
    small {
        font-size: 12px;
    }
    table {
        border-collapse: collapse;
        width: 800px;
    }

    th, td {
        text-align: left;
        /* padding: 8px; */
    }

    tr.alert {
        background-color: yellow;
    }

    tr:hover {
        background-color: lightblue;
    }
</style>
<section id="capacity" class="card">
    <div class="card-header">
        <h4>SpeedGaming Live Tournament Room Capacity Report</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <p>Note: This data is cached and refreshes every minute.</p>
        </div>
    </div>
</section>
<section id="reports" class="card">
    <div class="card-header">
        <h4>Reports</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>Time</th>
                    <th>Total</th>
                    <th>Starting this 15m</th>
                    {% for event in events %}
                    <th>{{ event }}</th>
                    {% endfor %}
                </tr>
                {% for interval, data in report.items() %}
                <tr {% if data['runtime_total'] > alert_threshold %}class="alert"{% endif %}</tr>
                    <td>{{ interval }}</td>
                    <td>{{ data['runtime_total'] }}</td>
                    <td>{{ data['starting_total'] }}</td>
                    {% for event in events %}
                    <td>{{ data['runtime'][event] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
</section>

</div>
</div>
</section>
{%- endblock content %}