{% extends "base/base.html" -%}
{% set page_title = "SGL23 Dashboard" -%}

{% block content -%}

<style>
    small {
        font-size: 12px;
    }
</style>
<section id="reports" class="card">
    <div class="card-header">
        <h4>Reports</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <p><a href="/sglive/reports/capacity" target="_blank">View the capacity report (opens new tab)</a></p>
        </div>
    </div>
</section>
<section id="games">
	<div class="row match-height">
        {% for game in games %}
		<div class="col-lg-4 col-md-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">{{ game['name'] }}</h4>
                    <h6 class="card-subtitle text-muted">{{ game.get('instructions', '') }}</h6>
				</div>
				<div class="card-body">
                    {% if game.get('notes', '') %}
                    <p class="card-text">{{ game.get('notes', '') }}</p>
                    {% endif %}
                    {% if game.get('generator_url', '') %}
                    <p class="card-text"><a href="{{ game['generator_url'] }}" class="card-link" target="_blank">Generate Seed</a></p>
                    {% endif %}
                    {% if game.get('flags', '') %}
                    <p class="card-text">Flags: {{ game.get('flags', '') }}</p>
                    {% endif %}
                    <hr/>
                    {% if game.get('download_url', '') %}
                    <p class="card-text"><a href="{{ game['download_url'] }}" class="card-link" target="_blank">Download Randomizer</a></p>
                    {% endif %}
                    {% if game.get('model_pack_url', '') %}
                    <p class="card-text"><a href="{{ game['model_pack_url'] }}" class="card-link" target="_blank">Download Model Pack</a></p>
                    {% endif %}
                    {% if game.get('schedule_url', '') %}
                    <p class="card-text"><a href="{{ game['schedule_url'] }}" class="card-link" target="_blank">Schedule</a></p>
                    {% endif %}
                    {% if game.get('challonge_url', '') %}
                    <p class="card-text"><a href="{{ game['challonge_url'] }}" class="card-link" target="_blank">Challonge</a></p>
                    {% endif %}
				</div>
			</div>
		</div>
        {% endfor %}
    </div>
</section>
{%- endblock content %}
