{% extends "base/base.html" -%}

{% block head -%}
<title>Match Submission</title>
{%- endblock head %}

{% block content -%}

<script>
    var disableField = function () {
        var game = document.getElementById("game").value;

        switch (game) {
            case '1':
            case '2':
                document.getElementById("pools").hidden = false;
                break;
            case '3':
                document.getElementById("pools").hidden = true;
                break;
        }
    };
</script>
<section id="wrapper">
    <div class="wrapper">
        <div class="inner">
<form action="{{ endpoint }}" method="post">
    <label for="episodeid">SpeedGaming Episode ID:</label><input type="number" id="episodeid" name="episodeid"
        value="{{ episode_id }}" required><br><br>
    <input type="hidden" id="event" name="event" value="{{ event }}">

    <label for="game">Game #:</label>
    <select name="game" id="game" onchange="disableField()">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select><br><br>

    <div id="pools">
        <div>
            <label for="pool_1">Pool 1</label>
            <select name="pool_1" id="pool_1">
                <option value="none">Keine Änderung</option>
                <option value="keysanity">Keysanity</option>
                <option value="enemy_shuffle">Enemy Shuffle</option>
                <option value="inverted">Inverted</option>
                <option value="66crystals">6/6 Crystals</option>
                <option value="dungeons">All Dungeons</option>
                <option value="miniswordless">Swordless Mini-Style</option>
            </select>
        </div>
        <div>
            <label for="pool_2">Pool 2</label>
            <select name="pool_2" id="pool_2">
                <option value="none">Keine Änderung</option>
                <option value="mcs">Map/Compass-Shuffle</option>
                <option value="bks">Big Key-Shuffle</option>
                <option value="german_hard">Deutscher Hard Item Pool</option>
                <option value="standard">Standard</option>
                <option value="universal_keys">Universal Keys</option>
                <option value="boss_shuffle">Boss Shuffle (Full)</option>
                <option value="fast_ganon">Fast Ganon</option>
            </select>
        </div>
        <div>
            <label for="pool_3">Pool 3</label>
            <select name="pool_3" id="pool_3">
                <option value="none">Keine Änderung</option>
                <option value="start_sword">Start-Schwert</option>
                <option value="start_boots">Start-Boots</option>
                <option value="start_flute">Start-Flöte (aktiv, außer Standard)</option>
                <option value="start_bombs">Start-Bomben (10 Stück)</option>
                <option value="start_rupees">Start-Geld (300 Rubine)</option>
            </select>
        </div>
    </div>

    <input type="submit" value="Submit">
</form>
</div>
</div>
</section>
{%- endblock content %}