{% extends "base.html" -%}

{% block head -%}
<title>Triforce Text Moderation</title>
{%- endblock head %}

{% block content -%}
{%- if not texts %}
<div class="alert alert-info">
    <strong>There are no texts to moderate!</strong>
</div>
{%- else %}
<table border="1">
    <tr>
        <th>Text</th>
        <th>Submitted by</th>
        <th>Actions</th>
        <th>Approval</th>
    </tr>
    {% for text in texts %}
    <tr>
        <td>
            <pre>{{ text.text }}</pre>
        </td>
        <td>
            <p>{{ text.author }}</p>
        </td>
        <td>
            <p><a href="{{ url_for('triforcetexts.moderation_action', pool_name=pool_name, text_id=text.id, action='approve') }}"
                    class="btn btn-success">Approve</a></p>
            <p><a href="{{ url_for('triforcetexts.moderation_action', pool_name=pool_name, text_id=text.id, action='reject') }}"
                    class="btn btn-danger">Reject</a></p>
        </td>
        <td>
            <p>{{ text.approved }}</p>
        </td>
    </tr>
    {% endfor %}
</table>
{%- endif %}
{%- endblock content %}